<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Message</h1>
    <div class="buttons">
      <button class="button ion-close-round" ng-click="closeMessage()">
      </button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="saveMessage()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Title</span>
          <input type="text" ng-model="messageData.title">
        </label>
        <label class="item item-input">
          <span class="input-label">Text</span>
          <input type="text" ng-model="messageData.text">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Save</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
